{% load static %}
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/profil.css' %}">
<link rel="stylesheet" href="{% static 'css/conversations.css' %}">
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
<link rel="stylesheet" href="{% static 'css/publication.css' %}">
<link rel="stylesheet" href="{% static 'css/search_user.css' %}">
<link rel="stylesheet" href="{% static 'css/requests_contact.css' %}">
<link rel="stylesheet" href="{% static 'css/notification.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">
<link rel="stylesheet" href="{% static 'css/image.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">