{% load staticfiles %}

<table border="0" class="contain_item_profil frame services">
    <div>
        <tr>
            <th>
                <h3> <img src="{% static 'img/icon_title/products.png' %}" class="icon_title" /> Produits</h3>
                <hr width="100%"/>
            </th>
        </tr>


        {% if mode == 'my_profil' %}
            <tr>
                <th>
                    <div class="common_content service_form">
                        <form method="post" id="product_form" action="/create_product">
                            {% csrf_token %}
                                <table id="table_product_form">
                                    {% for field in product_form %}
                                        <tbody>
                                            <tr>
                                              <td>
                                                <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
                                              </td>
                                              <td>
                                                {{ field }}
                                              </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            <!--<hr style="width:95%; margin-bottom:1%">-->
                            <br />
                            <input type="submit" value="Créer" class="button_create_product all_button button_service"/>
                        </form>
                    </div><br />
                </th>
            </tr>
        {% endif %}


        {% for product in products %}
            <tr>
                <th >
                    <div class="one_service">
                        <h4>{{ product.name }} - {{ product.price }} €
                            {% if mode == 'my_profil' %}
                                <form method="get" id="{{ product.id }}" style="display:inline-block">
                                    {% csrf_token %}
                                    <input type="image" src="{% static 'img/icon_delete_comment.png' %}" class="icon_delete_product">
                                </form>
                            {% endif %}
                        </h4>
                        <a href="{{ product.weblink }}"> Web link </a>
                        <p>{{ product.description }}</p>
                    </div>

                </th>
            </tr>

            {% empty %}
                <tr>
                    <th><p id="not_product">Aucun produit ..</p></th>
                </tr>
        {% endfor %}
    </div>
</table>
<br />
